In [147]:
import numpy as np
import pandas as pd  
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_california_housing
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [148]:
data=fetch_california_housing()
df=pd.DataFrame(data.data,columns=data.feature_names)

In [149]:
df.head()

   MedInc  HouseAge  AveRooms  ...  AveOccup  Latitude  Longitude
0  8.3252      41.0  6.984127  ...  2.555556     37.88    -122.23
1  8.3014      21.0  6.238137  ...  2.109842     37.86    -122.22
2  7.2574      52.0  8.288136  ...  2.802260     37.85    -122.24
3  5.6431      52.0  5.817352  ...  2.547945     37.85    -122.25
4  3.8462      52.0  6.281853  ...  2.181467     37.85    -122.25

[5 rows x 8 columns]

In [150]:
print(data['DESCR'])

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

:Number of Instances: 20640

:Number of Attributes: 8 numeric, predictive attributes and the target

:Attribute Information:
    - MedInc        median income in block group
    - HouseAge      median house age in block group
    - AveRooms      average number of rooms per household
    - AveBedrms     average number of bedrooms per household
    - Population    block group population
    - AveOccup      average number of household members
    - Latitude      block group latitude
    - Longitude     block group longitude

:Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. rubric:: References

- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
  Statistics and Probability Letters, 33 (1997) 291-297

In [151]:
data.target_names

['MedHouseVal']

In [152]:
df.head()

   MedInc  HouseAge  AveRooms  ...  AveOccup  Latitude  Longitude
0  8.3252      41.0  6.984127  ...  2.555556     37.88    -122.23
1  8.3014      21.0  6.238137  ...  2.109842     37.86    -122.22
2  7.2574      52.0  8.288136  ...  2.802260     37.85    -122.24
3  5.6431      52.0  5.817352  ...  2.547945     37.85    -122.25
4  3.8462      52.0  6.281853  ...  2.181467     37.85    -122.25

[5 rows x 8 columns]

In [153]:
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [154]:
x=df
y=pd.Series(data.target)

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [156]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [157]:
stan=StandardScaler()

In [158]:
x_train=stan.fit_transform(x_train)
x_test=stan.transform(x_test)

In [159]:
import pickle
with open('stander.pkl','wb') as f:
    pickle.dump(stan,f)

In [160]:
##Implimentation of ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
import datetime

In [161]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

c:\Users\navee\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [162]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
losses=tf.keras.losses.MeanAbsoluteError()
model.compile(optimizer=opt,loss=losses,metrics=['mae'])

In [163]:
file='logs/file/' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
ten=TensorBoard(log_dir=file,histogram_freq=1)
early=EarlyStopping(patience=10,restore_best_weights=True)

In [164]:
vival=model.fit(
    x_train,y_train,validation_data=(x_test,y_test) ,epochs=10,
    callbacks=[ten,early]
)

Epoch 1/10
516/516 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - loss: 0.5838 - mae: 0.5838 - val_loss: 0.4246 - val_mae: 0.4246
Epoch 2/10
516/516 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.4229 - mae: 0.4229 - val_loss: 0.4057 - val_mae: 0.4057
Epoch 3/10
516/516 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.4044 - mae: 0.4044 - val_loss: 0.3886 - val_mae: 0.3886
Epoch 4/10
516/516 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.3956 - mae: 0.3956 - val_loss: 0.3704 - val_mae: 0.3704
Epoch 5/10
516/516 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.3821 - mae: 0.3821 - val_loss: 0.3698 - val_mae: 0.3698
Epoch 6/10
516/516 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.3779 - mae: 0.3779 - val_loss: 0.3831 - val_mae: 0.3831
Epoch 7/10
516/516 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.3660 - mae: 0.3660 - val_loss: 0.3622 - val_mae: 0.3622
Epoch 8/10
516/516 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 0.3697 - mae: 0.3697 - val_loss: 0.3690 - val_mae: 0.3690
Epoch 9/10
516/516 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 0.3649 - mae: 0.3649 - val_loss: 0.3750 - val_mae: 0.3750
Epoch 10/10
516/516 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.3662 - mae: 0.3662 - val_loss: 0.3649 - val_mae: 0.3649

In [165]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [166]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [167]:
%tensorboard --logdir "logs/file"

Reusing TensorBoard on port 6006 (pid 22284), started 0:43:14 ago. (Use '!kill 22284' to kill it.)